html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background-color: #222629;
    color: whitesmoke;
    margin: 0;
}

.navigation {
    background-color: #474B4F;
    position: fixed;
    width: 100%;
    height: 52px;
}

.navigation__list {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

} 

.navigation__item {
    list-style: none;
    margin: 0 16px;
}

.navigation__link {
    text-decoration: none;
    color: #86C232;
}

.site, .footer {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 52px;
}

.header {
    background-image: url("../img/background.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    color: #86C232;
    font-size: 100px;
}

.descripton {
    padding: 20px 2%;
}

.footer {
    background-color: #474B4F;
}

.games {
    padding: 0 2%;
}

.games__container { 
    display: flex;
}

.game {
    background-color: #474B4F;
    width: 400px;
}

.games__header {
    color: #61892F;
}

.game__header {
    color: #86C232;
}